#inputContainer{
    margin: 0 auto;
    margin-top: 2%;
    width: 55%;
    max-width: 1100px;
    align-content: center;
    text-align: center;
}

#startPicker{
    margin: auto;
    padding: 2%;
    width: 100px;
}

#endPicker{
    margin: auto;
    padding: 2%;
    width: 100px;
}

#chartSelector{
    margin: auto;
    padding: 2%;
    width: 225px;
}

#btnPlot{
    margin-left: 7%;
}

/* #switchContainer{
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
    width: 20%;
    align-content: center;
    text-align: center;
} */

#yAxisConf{
    padding: 1%;
    margin: 0 auto;
    margin-top: 2%;
    width: 20%;
    align-content: center;
    text-align: center;
}

.numberInput{
    width: 50px;
    margin: 5px;
}

#chart{
    margin: 0 auto;
    width: 75%;
    height: 600px;
    align-content: center;
    padding-top: 3%;
}
