<div>
    
    <div id="inputContainer" class="htw-border-theme">

        <mat-form-field matInput id="startPicker" color="accent">
            <mat-label>Start-Datum</mat-label>
            <input [(ngModel)]="currDateStart" matInput [matDatepicker]="pickerStart" [min]="minDate" [max]="currDateEnd">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field matInput  id="endPicker" color="accent">
            <mat-label>End-Datum</mat-label>
            <input [(ngModel)]="currDateEnd" matInput [matDatepicker]="pickerEnd" [min]="currDateStart" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field id="chartSelector" color="accent">
            <mat-label>Diagrammauswahl</mat-label>
            <mat-select [(ngModel)]="selectedChartIndex" name="chartSelect">
                <mat-option *ngFor="let chartSelection of chartList" [value]="chartSelection.selector">
                    {{chartSelection.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <button mat-raised-button color="primary" id="btnPlot" (click)="userClick()">Plot</button>

        <mat-spinner id="spinner" diameter="40" *ngIf="chartList[selectedChartIndex] != null && 
                                        chartList[selectedChartIndex].chart != null && 
                                        chartList[selectedChartIndex].chart.isLoading == true"></mat-spinner>
    </div>

    <div id="yAxisConf" class= "htw-border-theme" style="display: none">
        <div id="switchContainer">
            <button mat-raised-button [color]="btnDurColor" id="btnDuration" (click)="userSwitch(0)">Zeitspanne</button>
            <button mat-raised-button [color]="btnPctColor" id="btnPercentile" (click)="userSwitch(1)">Perzentile</button>
        </div>

        <input type="number" class="numberInput" id="i0" min="0" max="{{allTimeSteps[1]}}" value="{{allTimeSteps[0]}}">
        <input type="number" class="numberInput" id="i1" min="{{allTimeSteps[0]}}" max="{{allTimeSteps[2]}}" value="{{allTimeSteps[1]}}">
        <input type="number" class="numberInput" id="i2" min="{{allTimeSteps[1]}}" max="{{allTimeSteps[3]}}" value="{{allTimeSteps[2]}}">
        <input type="number" class="numberInput" id="i3" min="{{allTimeSteps[2]}}" max="{{allTimeSteps[4]}}" value="{{allTimeSteps[3]}}">
        <input type="number" class="numberInput" id="i4" min="{{allTimeSteps[3]}}" max="100000" value="{{allTimeSteps[4]}}">
    </div>

    <div id="chart">
        <canvas id="canvas"></canvas>
    </div>

</div>
    