<div>
    
    <mat-form-field matInput id="StartPicker">
        <mat-label>Start Date</mat-label>
        <input [(ngModel)]="currDateStart" matInput [matDatepicker]="pickerStart" [min]="minDate" [max]="currDateEnd">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-form-field matInput  id="EndPicker">
        <mat-label>End Date</mat-label>
        <input [(ngModel)]="currDateEnd" matInput [matDatepicker]="pickerEnd" [min]="currDateStart" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
    
    <br>

    <!-- <mat-selection-list #districtSelector>
        <mat-list-option *ngFor="let district of allDistricts">
          {{district}}
        </mat-list-option>
    </mat-selection-list>

    <mat-selection-list #eventSelector>
        <mat-list-option *ngFor="let event of allEvents">
          {{event}}
        </mat-list-option>
    </mat-selection-list> -->
      
    <!-- <p>
        Options selected: {{districtSelector.selectedOptions.selected.length}}
    </p> -->

    <mat-form-field>
        <mat-label>Chart to display</mat-label>
        <mat-select [(ngModel)]="selectedChartIndex" name="chartSelect">
            <mat-option *ngFor="let chartSelection of chartList" [value]="chartSelection.selector">
            {{chartSelection.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <button (click)="userClick()">Plot</button>

    <br>

    <div id="chart">
        <canvas id="canvas" width="200" height="500"></canvas>
    </div>

</div>
    