<div class="map-container">
    <div class="map-frame">
        <mat-menu #mapMenu="matMenu" class="mat-menu" overlapTrigger="true">
            <mat-form-field matInput>
                <mat-label>Von</mat-label>
                <input [(ngModel)]="dataFrom" matInput [matDatepicker]="pickerStart" [max]="dataTo" (dateChange)="addEvent($event)" (click) = "$event.stopPropagation()">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
                
            <mat-form-field matInput>
                <mat-label>Bis</mat-label>
                <input [(ngModel)]="dataTo" matInput [matDatepicker]="pickerEnd" [min]="dataFrom" (dateChange)="addEvent($event)" (click) = "$event.stopPropagation()">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
        </mat-menu>
            
        <button class="mat-menu-button" mat-icon-button [matMenuTriggerFor]="mapMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <div id="map"></div>    
    </div>
</div>