<div id="flexbox">
    <div class="map-container">
        <div class="map-frame">
            
            <mat-menu #menu="matMenu" class="mat-menu" overlapTrigger="true">
                <div class="menu-container" (click) = "$event.stopPropagation()">
                    <div class="checkbox-container">
                        <h2>Optionen</h2>
                        <mat-checkbox class="options-checkbox" [(ngModel)]="options.showRoadClosures" (change)="toogleMapOptions($event, this.roadClosures)">Sperrungen</mat-checkbox>
                        <mat-checkbox class="options-checkbox" [(ngModel)]="options.showConstructionSites" (change)="toogleMapOptions($event, this.constructionSites)">Baustellen</mat-checkbox>
                        <mat-checkbox class="options-checkbox" [(ngModel)]="options.showLaneClosures" (change)="toogleMapOptions($event, this.laneClosures)">Fahrstreifensperrungen</mat-checkbox>
                        <mat-checkbox class="options-checkbox" [(ngModel)]="options.showAccidents" (change)="toogleMapOptions($event, this.accidents)">Unfälle</mat-checkbox>
                        <mat-checkbox class="options-checkbox" [(ngModel)]="options.showDangers" (change)="toogleMapOptions($event, this.dangers)">Gefahren</mat-checkbox>
                    </div>
    
                    <mat-form-field matInput color="accent">
                        <mat-label>Von</mat-label>
                        <input [(ngModel)]="options.dateFrom" matInput [matDatepicker]="pickerStart" [min]="options.dateMin" [max]="options.dateTo">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>
                        
                    <mat-form-field matInput color="accent">
                        <mat-label>Bis</mat-label>
                        <input [(ngModel)]="options.dateTo" matInput [matDatepicker]="pickerEnd" [min]="options.dateFrom" [max]="options.dateMax">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                    
                    <button mat-raised-button class="confirm-btn" color="primary" (click)="applyClick()">Zeitraum anwenden</button>
                </div>
            </mat-menu>
                
            <button mat-mini-fab class="mat-menu-button" color="basic" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
    
            <mat-card class="entries-card" *ngIf="options.showRoadClosures || options.showConstructionSites || options.showConstructionSites || options.showLaneClosures || options.showAccidents || options.showDangers">
                <div *ngIf="options.showRoadClosures"> <mat-icon svgIcon="road_closure" aria-hidden="true"></mat-icon> Sperrungen: {{entriesPerCategory[0]}} <br></div>
                <div *ngIf="options.showConstructionSites"> <mat-icon svgIcon="construction_site" aria-hidden="true"></mat-icon> Baustellen: {{entriesPerCategory[1]}} <br></div>
                <div *ngIf="options.showLaneClosures"> <mat-icon svgIcon="lane_closure" aria-hidden="true"></mat-icon> Fahrstreifensperrungen: {{entriesPerCategory[2]}} <br></div>
                <div *ngIf="options.showAccidents"> <mat-icon svgIcon="accident" aria-hidden="true"></mat-icon> Unfälle: {{entriesPerCategory[3]}} <br></div>
                <div *ngIf="options.showDangers"> <mat-icon svgIcon="danger" aria-hidden="true"></mat-icon> Gefahren: {{entriesPerCategory[4]}} </div>
            </mat-card>
            
            <mat-spinner id="map-spinner" color="accent"  *ngIf="entriesPerCategory[4] == 'loading'"></mat-spinner>

            <div id="map"></div>
        </div>
    </div>
</div>