#flexbox {
    flex-direction: column; 
    display: flex; 
    height: 100%;
    clear: both;
}

.map-container {
    flex: 1;
    position: relative;
    height: 100%;
    margin: 0;    
}

.map-frame {
    border: 1px solid black;
    box-sizing: border-box;
    height: 100%;
  }
  
.mat-menu-button{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 500;
}

.menu-container{
  padding: 5px 25px;
  width: 200px;
}

.menu-container h2{
  margin: 0;
}

.checkbox-container{
  padding-bottom: 15px;
}

.options-checkbox{
  display: block;
}

.entries-card{
  white-space: pre;
  line-height: 1.8em;
  max-width: 280px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  font-size: 16px;
}

mat-icon{
  display: inline-flex;
  vertical-align: middle;
}

#map-spinner{  
  position: absolute;
  left: 45%;
  right: 55%;
  top: 45%;
  bottom: 55%;
  text-align: center;
  z-index: 500;
}

#map {
  height: 100%;
}