<div class="map-frame">
    <mat-menu #mapMenu="matMenu" class="mat-menu" overlapTrigger="true">
        <div class="menu-container" (click) = "$event.stopPropagation()">
            <div class="checkbox-container">
                <h2>Optionen</h2>
                <mat-checkbox class="options-checkbox" [(ngModel)]="options.showRoadClosures" (change)="toogleMapOptions($event, this.roadClosures)">Sperrungen</mat-checkbox>
                <mat-checkbox class="options-checkbox" [(ngModel)]="options.showConstructionSites" (change)="toogleMapOptions($event, this.constructionSites)">Baustellen</mat-checkbox>
                <mat-checkbox class="options-checkbox" [(ngModel)]="options.showLaneClosures" (change)="toogleMapOptions($event, this.laneClosures)">Fahrstreifensperrungen</mat-checkbox>
                <mat-checkbox class="options-checkbox" [(ngModel)]="options.showTrafficJams" (change)="toogleMapOptions($event, this.trafficJams)">Staus</mat-checkbox>
                <mat-checkbox class="options-checkbox" [(ngModel)]="options.showAccidents" (change)="toogleMapOptions($event, this.accidents)">Unfälle</mat-checkbox>
                <mat-checkbox class="options-checkbox" [(ngModel)]="options.showDangers" (change)="toogleMapOptions($event, this.dangers)">Gefahren und Störungen</mat-checkbox>
            </div>

            <mat-form-field matInput>
                <mat-label>Von</mat-label>
                <input [(ngModel)]="options.dateFrom" matInput [matDatepicker]="pickerStart" [max]="options.dateTo">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
                
            <mat-form-field matInput>
                <mat-label>Bis</mat-label>
                <input [(ngModel)]="options.dateTo" matInput [matDatepicker]="pickerEnd" [min]="options.dateFrom">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            
            <button (click)="applyClick()">Zeitraum anwenden</button>
            <button (click)="setTestDates()">Test</button>
        </div>
    </mat-menu>
        
    <button class="mat-menu-button" mat-icon-button [matMenuTriggerFor]="mapMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-card class="entries-card" *ngIf="options.showRoadClosures || options.showConstructionSites || options.showConstructionSites || options.showLaneClosures || options.showTrafficJams || options.showAccidents || options.showDangers">
        <div *ngIf="options.showRoadClosures">Sperrungen: {{entriesPerCategory[0]}} <br></div>
        <div *ngIf="options.showConstructionSites">Baustellen: {{entriesPerCategory[1]}} <br></div>
        <div *ngIf="options.showLaneClosures">Fahrstreifensperrungen: {{entriesPerCategory[2]}} <br></div>
        <div *ngIf="options.showTrafficJams">Staus: {{entriesPerCategory[3]}} <br></div>
        <div *ngIf="options.showAccidents">Unfälle: {{entriesPerCategory[4]}} <br></div>
        <div *ngIf="options.showDangers">Gefahren und Störungen: {{entriesPerCategory[5]}} </div>
    </mat-card>
        
    <div id="map"></div>
</div>