#errorBox {
    text-align: center;
    display: block; 
    max-width: 500px;
    border-radius: 2;
    margin: auto;
    padding: 50px;
}

.h-100{
    padding-top: 100px;
}


@media(max-width: 500px){
    .h-100{
        padding-top: 50px;
    }
    #errorBox {
        margin-left: 5%;
        margin-right: 5%;
    }
}