<div class="main-container">
  <mat-toolbar id="main-toolbar" class="htw-theme">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>    
    <div class="pl-15">
      <h1 class="mat-display-3">traffic map berlin</h1>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav id="navbar" class="htw-theme-d3" #sidenav mode="over" >
      <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->      
      <mat-nav-list class="p-15">
        <mat-list-item><a routerLink="/home" routerLinkActive="active">Home</a></mat-list-item>
        <mat-list-item><a routerLink="/statistics" routerLinkActive="active">Statistics</a></mat-list-item>
        <mat-list-item><a routerLink="/info" routerLinkActive="active">Info</a></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
      
    <mat-sidenav-content id="main-container">
      <!-- The routed views render in the <router-outlet>
        It displays the main content of the app-->
      <router-outlet></router-outlet>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>