h1, h2, h3, h4, h5, h6, p {
    display: inline;
}


#main-toolbar{
    display: flex;
    width: 100%;
}

#navbar ul{
	list-style: none;
}

#navbar li{
	padding-bottom: 20px;
	list-style: none;
}

#navbar a{
    text-decoration: none;
	color: #fff;
    font-size: 28px;
}

.main-container {
    height: 100%;
}

mat-sidenav-container{
    height: calc(100% - 64px);
}

mat-sidenav-content{
	background-color: #bbc;
	background-image: url('../assets/Stau.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-position: 50% 50%;*/
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
}

mat-sidenav {
    width: 200px;
}