<div>
  <header id="main-header" class="htw-theme">
    <h1 id="header-left">traffic map berlin</h1>
    <h4 id="header-right">Bluescreen Bandits</h4>
  </header>
  <div class="p-15">
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/statistics" routerLinkActive="active">Statistics</a></li>
        <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
      </ul>
    </nav>
    
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  <!--app-walking-skeleton></app-walking-skeleton-->
  </div>
</div>