
<div id="infoContainer">
    
    <div id="projectNameBox" class="htw-border-theme">
        <b> 
            <u>
                Team Name: <br>
            </u>
            Bluescreen Bandits
        </b>  
    </div>
    
    <div>
        <div id="infoBox" class="htw-border-theme">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <div id="teamMemberBox" class="htw-border-theme">
            <b>
                <u>
                    Team Members:<br>
                </u>
                Niklas Matthias<br>
                Jonas Gesch<br>
                Lorenz Handschack
            </b>
        </div>
    </div>


    
</div>