.info-container{
    width: 60%;
    margin: auto;
}

.info-card {
    border-radius: 2;
    margin-top: 20px;
    width: 100%;
}

.team-card {
    border-radius: 2;
    margin-top: 20px;
    width: 200px;
}

mat-card-content{
    font-size: 18px;
    text-align: justify;
    hyphens: maunual;
}

.indent{
    margin-left: 20px;
}

@media(max-width: 500px){
    mat-card{
        width: 100%;
    }
    mat-card-content{
        font-size: 14px;
    }
    .info-container{
        width: 80%;
        margin: 5%;
    }
}