
<div class="info-container">
    <mat-card class="htw-border-theme team-card">
        <mat-card-title>Team Name:</mat-card-title>
        <mat-card-content class="indent">{{teamName}}</mat-card-content>
        <mat-card-title>Team Mitglieder:</mat-card-title>
        <mat-card-content class="indent">
            Niklas Matthias<br>
            Jonas Gesch<br>
            Lorenz Handschack
        </mat-card-content>
    </mat-card>    

    <mat-card class="htw-border-theme info-card">
        <mat-card-title>Über das Projekt</mat-card-title>
        <mat-card-content>
            <p>
            Traffic Map Berlin ist eine Anwendung zur Visualisierung und Analyse von Verkehrs&shy;behinderungen innerhalb Berlins.
            Dies umfasst Baustellen, Sperrungen, Unfälle und andere Störungen. Die entsprechenden Daten werden von der 
            Verkehrs&shy;informations&shy;zentrale VMZ bereit&shy;gestellt und können nach Zeitraum und Ursache gefiltert werden.
            </p><p>
            Dieses Projekt entstand im Sommer&shy;semester 2020 im Rahmen des Moduls "C72 Projekt Software&shy;entwicklung" an der HTW Berlin.
            Es wurde von einem studentischen Team bestehend aus einem Backend- und zwei Frontend-Entwicklern ohne nennenswerte
            Vor&shy;erfahrungen im Bereich Web&shy;developement erarbeitet. 
            </p><p>
            Das Frontend wurde mit Angular 9.1.4 entwickelt und benutzt die
            <a href="https://leafletjs.com/" target="_blank"> Leaflet Bibliothek</a> mit 
            <a href="https://github.com/Leaflet/Leaflet.markercluster" target="_blank">Markercluster Plugin</a> für die Karte und
            <a href="https://www.chartjs.org/" target="_blank">Chart.js</a> für die Statistiken.
            Das UI wurde mit <a href="https://material.angular.io/" target="_blank">Angular Material</a> realisiert.
	    </p><p>
	    Das Backend wurde in Java entwickelt und nutzt
	    <a href="https://spring.io/projects/spring-data-mongodb" target="_blank">Spring Data MongoDB</a> um die Daten abzurufen, sowie
	    <a href="https://spring.io/projects/spring-data-rest" target="_blank">Spring Data REST</a>, womit die verarbeiteten Daten über eine REST-API
	    bereitgestellt werden.
	    </p>
	    <span>Hintergrundbild von <a href="https://unsplash.com/@ansgarscheffold?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Ansgar Scheffold</a>
            auf <a href="https://unsplash.com/photos/mtfTz0FnwBw" target="_blank">Unsplash</a></span><br>
        <span>Kartendaten von <a href="http://www.openstreetmap.org/">OpenStreetMap</a> - Veröffentlicht unter <a href="http://opendatacommons.org/licenses/odbl/">ODbL</a></span>
        </mat-card-content>
    </mat-card>
</div>
