.info-container{
    width: 60%;
    margin: auto;
}

.info-card {
    border-radius: 2;
    margin-top: 20px;
    width: 100%;
}

.team-card {
    border-radius: 2;
    margin-top: 20px;
    width: 200px;
}

mat-card-content{
    font-size: 18px;
}

.indent{
    margin-left: 20px;
}