#header{
    padding: 0;
}

#projectNameBox {
    text-align: left;
    display:    inline-block;
    padding:    1em;
    margin:     5%;
    border-radius: 2;
}


#infoBox {
    text-align: center;
    display:    block; 
    max-width:  60%;
    padding:    1em;
    margin:     5%;
    border-radius: 2;
    float: left;
}

#teamMemberBox {
    text-align: left;
    padding:    1em;
    margin:     5%;
    border-radius: 2;
    float: left;
}
